Source: ros-noetic-clearpath-onav-api-examples-lib
Section: misc
Priority: optional
Maintainer: Jason Higgins <jhiggins@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-rospy
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-clearpath-onav-api-examples-lib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-pyproj, ros-noetic-clearpath-msgs, ros-noetic-geometry-msgs, ros-noetic-nav-msgs, ros-noetic-rospy, ros-noetic-sensor-msgs, ros-noetic-std-msgs, ros-noetic-wireless-msgs
Description: Examples library to show how to use CPR OutdoorNav API
