Source: ros-noetic-clearpath-onav-examples
Section: misc
Priority: optional
Maintainer: Jose Mastrangelo <jmastrangelo@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-clearpath-onav-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-clearpath-onav-api-examples, ros-noetic-clearpath-onav-api-examples-lib
Description: Examples to show how to use CPR OutdoorNav API
